.main-wrapper {
  background: #fafafa;
  min-height: 100vh;
  background-image: linear-gradient(#00cbb3 30%, #c9ffc6 80%);


}

.donation-wrapper {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: #fff; */
  /* border: 1px solid #ddd; */
}

.donation-thanks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-thanks {
  font-family: "Sanchez", serif;
  display: flex;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 212px;
  font-size: 3rem;
}

.donation-input {
  height: 7vh;
  width: 45vw;
  display: flex;
  margin-bottom: 15%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 1rem;
}

::placeholder {
  font-family: "Sanchez", serif;
  color: #ddd;
}
