.main-wrapper {
  height: 100vh;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
}
.donate-btn {
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.donate-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ff3658;
  background: #fff;
}

.donation-wrapper {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 2366px) {
  .donation-wrapper {
    height: 30vh;
  }
}
@media (max-width: 1366px) {
  .donation-wrapper {
    height: 31vh;
  }
}
@media (max-width: 1024px) {
  .donation-wrapper {
    height: 25vh;
  }
}

.thanks-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donation-thanks {
  font-family: "Sanchez", serif;
  display: flex;
  color: #000;
  font-size: 3rem;
}

.dollar-sign-wrapper {
  display: flex;
}

.dollar-sign {
  font-family: "Sanchez", sans-serif;
  color: #fff;
  font-size: 1.3rem;
}

@media (max-width: 2633px) {
  .dollar-sign {
    font-size: 2.2rem;
  }
}
@media (max-width: 1024px) {
  .dollar-sign {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .dollar-sign {
    font-size: 2.4rem;
  }
}
@media (max-width: 414px) {
  .dollar-sign {
    font-size: 1.8rem;
  }
}
@media (max-width: 375px) {
  .dollar-sign {
    font-size: 1.6rem;
  }
}
.donation-input {
  height: 7vh;
  width: 60vw;
  display: flex;
  margin-bottom: 15%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
}

@media (max-width: 2366px) {
  .donation-input {
    width: 30vw;
    height: 6vh;
  }
}
@media (max-width: 1366px) {
  .donation-input {
    width: 40vw;
  }
}

@media (max-width: 1024px) {
  .donation-input {
    width: 30vw;
  }
}
@media (max-width: 414px) {
  .donation-input {
    width: 70vw;
  }
}
@media (max-width: 375px) {
  .donation-input {
    width: 70vw;
  }
}
@media (max-width: 320px) {
  .donation-input {
    width: 70vw;
  }
}

.donation-input::placeholder {
  font-family: "Sanchez", serif;
  color: #ddd;
}

.stripe-b2log-parent {
  display: flex;
  width: 100%;
  height: 25vh;
  background: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .stripe-b2log-parent {
    height: 10vh;
  }
}

.stripe-b2log-btn {
  font-family: "Sanchez", serif;
  color: #fff;
  font-size: 1.2rem;
  margin: 0px;
  background: transparent;
  border: none;
  outline: none;
  /* color: #fff;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

/* .stripe-b2log-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ff3658;
  background: #fff;
} */
