.header {
  width: 100vw;
  height: 9vh;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout-btn {
  color: #fff;
}

.drop-menu-icon {
  display: flex;
  background-image: url(../../dropDownMenu.png);
  background-size: 74px;
  width: 19%;
  height: 57%;
  margin-right: 3%;
}
