.header {
  width: 100vw;
  height: 9vh;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-btn {
  color: #fff;
  font-size: 1.2rem;
  background: #78ccff;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  outline: none;
  margin-right: 5%;
}

.drop-menu-icon {
  background: url(../../dropDownMenu.png) no-repeat;
  border: none;
  width: 80px;
  height: 50px;
  margin-top: 5px;
}
