.register-gradient {
  height: 100vh;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
}

.main-container-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-container2 {
  background: transparent;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::placeholder {
  color: #ff3658;
}

.register-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 3px solid #ff3658;
}

@media (max-width: 1366px) {
  .register-image {
    margin-bottom: 4%;
    height: 210px;
    width: 210px;
  }
}
@media (max-width: 1024px) {
  .register-image {
    margin-bottom: 4%;
    height: 210px;
    width: 210px;
  }
}
@media (max-width: 414px) {
  .register-image {
    height: 160px;
    width: 160px;
    margin-top: 3%;
  }
}
@media (max-width: 375px) {
  .register-image {
    height: 150px;
    width: 150px;
    margin-top: 3%;
  }
}
@media (max-width: 320px) {
  .register-image {
    height: 90px;
    width: 90px;
    margin-top: 3%;
  }
}

.register-text {
  font-family: "Sanchez", serif;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0px;
}

.input {
  height: 7vh;
  width: 90vw;
  display: flex;
  margin-top: 4%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
}

@media (max-width: 2366px) {
  .input {
    height: 6vh;
    width: 40vw;
  }
}
@media (max-width: 1366px) {
  .input {
    height: 6vh;
    width: 40vw;
  }
}
@media (max-width: 1024px) {
  .input {
    margin-top: 3%;
    height: 5vh;
    width: 45vw;
  }
}
@media (max-width: 768px) {
  .input {
    height: 6vh;
    width: 60vw;
    margin-top: 5%;
  }
}
@media (max-width: 414px) {
  .input {
    height: 7vh;
    width: 80vw;
  }
}
@media (max-width: 375px) {
  .input {
    height: 6.5vh;
    width: 80vw;
  }
}
@media (max-width: 320px) {
  .input {
    height: 6.5vh;
  }
}

.create-btn-parent {
  display: flex;
  width: 100%;
  height: auto;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
}

.create-btn {
  color: #fff;
  width: 50%;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px 20px;
  margin-right: 4%;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.create-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ff3658;
  background: #fff;
}

@media (max-width: 2366px) {
  .create-btn {
    width: 20%;
    margin-right: 29.5%;
    font-size: 1.5rem;
  }
}
@media (max-width: 1366px) {
  .create-btn {
    width: 20%;
    margin-right: 29.3%;
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .create-btn {
    width: 20%;
    margin-right: 26.9%;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .create-btn {
    width: 40%;
    margin-right: 19%;
    font-size: 1.3rem;
  }
}
@media (max-width: 414px) {
  .create-btn {
    font-size: 1rem;
    margin-right: 8%;
    padding: 9px;
    margin-top: 1%;
  }
}
@media (max-width: 375px) {
  .create-btn {
    font-size: 1rem;
    margin-right: 8%;
    padding: 9px;
    margin-top: 3%;
  }
}
@media (max-width: 320px) {
  .create-btn {
    font-size: 1rem;
    margin-right: 8%;
    padding: 9px;
  }
}

.b2log-parent {
  display: flex;
  width: 100%;
  background: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* margin: 4%; */
}

.b2log-btn {
  font-family: "Sanchez", serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 18px;
  background: transparent;
  border: none;
}
