* {
  padding: 0px;
  margin: 0px;
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.dashboard-gradient {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-user-img {
  margin-top: 5%;
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 5px solid #ff3658;
}
.edit-welcome-wrapper {
  border-bottom: 1px solid #ff3658;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-welcome-message {
  font-family: "Sanchez", serif;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: #fff;
  background: transparent;
}

.dashboard-what-to-do {
  font-family: "Sanchez", serif;
  background: transparent;
  width: 100vw;
  height: 8vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-links-wrapper {
  background: transparent;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .dashboard-links-wrapper {
    height: 45vh;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .dashboard-links-wrapper {
    height: 45vh;
  }
}
@media (max-width: 375px) {
  .dashboard-links-wrapper {
    height: 40vh;
  }
}
@media (max-width: 320px) {
  .dashboard-links-wrapper {
    height: 40vh;
  }
}

.dashboard-links {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 10%;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 15px 27px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dashboard-links:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ff3658;
  background: #fff;
}


@media (max-width: 768px) {
  .dashboard-links {
    width: 27%;
    font-size: 1.7rem;
    padding: 6px;
  }
}
@media (max-width: 414px) {
  .dashboard-links {
    width: 49%;
    font-size: 1.7rem;
    padding: 6px;
  }
}
@media (max-width: 375px) {
  .dashboard-links {
    width: 54%;
    font-size: 1.2rem;
    padding: 6px;
  }
}
@media (max-width: 320px) {
  .dashboard-links {
    width: 35%;
    font-size: 1.2rem;
    padding: 6px;
  }
}

.dash-edit-container {
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dash-edit-btn {
  display: flex;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  margin-bottom: 10%;
}

.dash-edit-btn:hover {
  transform: scale(1.2);
  transition: ease-in-out;
}

.dash-edit-inputs {
  height: 5vh;
  width: 90vw;
  display: flex;
  margin-bottom: 1%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
}

@media (max-width: 320px) {
  .dash-edit-inputs {
    width: 95%;
  }
}

.dash-sa-ca-container {
  display: flex;
  justify-content: space-between;
}

.dash-sa-ca-btn {
  display: flex;
  color: #fff;
  font-size: 1.2rem;
  background: #009eff;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 5%;
}

.dash-sa-ca-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 320px) {
  .dash-sa-ca-btn {
    width: 48%;
  }
}
