* {
  padding: 0px;
  margin: 0px;
}

.dashboard-gradient {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-user-img {
  margin-top: 5%;
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 85px;
  border: 3px solid #ff3658;
}

.dashboard-welcome-message {
  font-family: "Sanchez", serif;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #ff3658;
}

.dashboard-what-to-do {
  font-family: "Sanchez", serif;
  background: transparent;
  width: 100vw;
  height: 8vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-links {
  background: transparent;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-groups-link:hover {
    transform: scale(1.2)
}

.dashboard-groups-link {
  color: #fff;
  font-size: 1.2rem;
  background-image: linear-gradient(40deg, #ef7b8e, #ff3658);
  border: none;
  border-radius: 30px;
  padding: 5px 40px;
  outline: none;
}

.dashboard-goals-link {
  color: #fff;
  font-size: 1.2rem;
  background-image: linear-gradient(40deg, #ef7b8e, #ff3658);
  border: none;
  border-radius: 30px;
  padding: 5px 46px;
  outline: none;
}

.dashboard-posts-link {
  color: #fff;
  font-size: 1.2rem;
  background-image: linear-gradient(40deg, #ef7b8e, #ff3658);
  border: none;
  border-radius: 30px;
  padding: 5px 46px;
  outline: none;
}
