.gradient {
  height: 100vh;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-container-2 {
  background: transparent;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 15%;
  padding-bottom: 10px;
}

.sign-in-text {
  font-family: "Sanchez", serif;
  color: #fff;
  font-size: 2rem;
  margin: 0px;
}

.inputs {
  height: 7vh;
  width: 90vw;
  display: flex;
  margin-top: 4%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
}

::placeholder {
  font-family: "Sanchez", serif;
  color: #ff3658;
  font-size: 1.2rem;
}

.main-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn-parent {
  display: flex;
  width: 100%;
  height: auto;
  background: transparent;
  justify-content: flex-end;
}

.login-button {
  color: #fff;
  height: 110%;
  width: 34%;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 8px 40px;
  outline: none;
  margin-right: 14px;
  margin-top: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.login-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (min-width: 1366px) {
  .login-button {
    width: 25%;
    margin-right: 4.8%;
    margin-top: 3%;
    height: 7vh;
  }
}

.donate-parent {
  display: flex;
  width: 100%;
  height: 10vh;
  background: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.donate-button {
  font-family: "Sanchez", serif;
  color: #fff;
  font-size: 1.2rem;
  background: transparent;
  border: none;
}

.register-parent {
  display: flex;
  width: 100%;
  height: 15vh;
  background: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.register-button {
  font-family: "Sanchez", serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 16px;
  background: transparent;
  border: none;
}

.element-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}
