.groups-gradient {
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  background-image: linear-gradient(#78ccff 55%, #009eff 80%);
}

.group-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-2-container {
  width: 100vw;
  height: 8vh;
  background: transparent;
  display: flex;
  /* align-items: center; */
  /* justify-content: ; */
}

.link-to-dashboard {
  text-decoration: none;
  display: flex;
  color: #fff;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.link-to-dashboard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.link-to-form {
  text-decoration: none;
  display: flex;
  color: #fff;
  font-size: 1.2rem;
  background: #ff3658;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.link-to-form:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.group-card-container {
  width: 90vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.card-name {
  color: #666;
  border-bottom: 1px solid #ff3658;
}

.card {
  font-family: "Sanchez", serif;
  margin-top: 5%;
  width: 90%;
  background: #fff;
  padding: 5%;
  color: #78ccff;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.users-in-g-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.user-img{
  height: 65px;
  width: 65px;
  border-radius: 100%;
}

.no-groups-card {
  border-radius: 5px;
  width: 90vw;
  background: #fff;
}

.no-groups-to-dashoard {
  
}